/* SETUP */
@import url('../css/setup/vars.css');

/* BASICS */
@import url('../css/setup/base.css');



/* COMPONENTS */
@import url('../css/components/main-header.css');
@import url('../css/components/main-nav.css');
@import url('../css/components/main-gallery.css');
@import url('../css/components/main-saved-memes.css');
@import url('../css/components/meme-editor.css');
@import url('../css/components/main-footer.css');


/* MQ */
@import url('../css/setup/mq.css');