.main-footer {
    
    height: 140px;
    background: linear-gradient(135deg, var(--clr-primary) 0%, var(--clr-secondary) 100%);
    color: var(--clr-white);
    padding: 20px;
    text-align: center;
    box-shadow: 0 -2px 5px var(--clr-shadow-light);
}
