.main-nav {
    padding:0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    & a {
        font-weight: bold;
        border-radius: 5px;
        transition: color 0.3s;
        &:hover {
            cursor: pointer;
            color: var(--clr-dark-gray) !important;
        }
        
    }
}