.main-footer {
    position: relative;
    width: 90vw;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 5vh;
   
    background: linear-gradient(135deg, var(--clr-primary) 0%, var(--clr-secondary) 100%);
    color: var(--clr-white);
    padding: 20px;
    text-align: center;
    box-shadow: 0 -2px 5px var(--clr-shadow-light);
}
