.main-screen {
    position: fixed;
    inset: 0;
    background-color: rgba(0, 0, 0, .3);
    opacity: 0;
    pointer-events: none;
    z-index: 80;
    cursor: pointer;

    transition: opacity .6s;

    
}