.gallery-section {
    text-align: center;
    & h2 {
        margin-bottom: 20px;
        color: var(--clr-dark-gray);
    }
    & .gallery-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 15px;
        margin-top: 20px;
        & .gallery-img {
            width: 100%;
            height: 200px;
            object-fit: cover;
            cursor: pointer;
            border-radius: 8px;
            transition: transform 0.2s, box-shadow 0.2s;
            &:hover {
                transform: scale(1.05);
                box-shadow: 0 5px 15px var(--clr-shadow-dark);
            }
        }
    }
}