.saved-memes-section {
    text-align: center;

    & h2 {
        margin-bottom: 20px;
        color: var(--clr-dark-gray);
    }

    & .saved-memes-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
        & .saved-meme {
            position: relative;
            >img {
                height: 300px;
                object-fit: cover;
                margin: 1em;
                cursor: pointer;
                border-radius: 8px;
                transition: transform 0.2s, box-shadow 0.2s;

                &:hover {
                    transform: scale(1.05);
                    box-shadow: 0 5px 15px var(--clr-shadow-dark);
                }
            }

            >button {
                position: absolute;
                top: 20px;
                right: 20px;
                background-color: var(--clr-danger);
                color: white;
                border: none;
                border-radius: 4px;
                padding: 5px 10px;
                cursor: pointer;
                transition: background-color 0.2s;
                &:hover {
                    color: red;
                    transform: scale(1.4);
                }

            }
        }
    }
}