* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.basad {
    position: absolute;
    color: #ffffff;
    font-family: 'Segoe UI', sans-serif;
    letter-spacing: 2px;
    right: 20px;
    top: 20px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
        0 0 15px #7c3aed;
    z-index: 101;
}

body {
    font-family: 'Segoe UI', sans-serif;
    background-color: var(--clr-dark-gray);
    background: linear-gradient(135deg, var(--clr-primary-blur) 0%, var(--clr-secondary-blur) 100%);
}

/* h1,h2,h3,h4,h5,h6 {
    padding: 0;
    margin:0;
} */

/* Main Content */
.main-content {
    min-height: calc(100vh - 240px);
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.editor {
    background: linear-gradient(135deg, var(--clr-bgc-secondary) 10%, var(--clr-bgc-primary) 20%, var(--clr-bgc-secondary) 30%, var(--clr-bgc-primary) 40%, var(--clr-bgc-secondary) 50%, var(--clr-bgc-primary) 60%, var(--clr-bgc-secondary) 70%, var(--clr-bgc-primary) 80%, var(--clr-bgc-secondary) 90%, var(--clr-bgc-primary) 100%);
}

.signature {
  margin-top: 2%;
  font-family: 'Roboto Mono', monospace;
  text-transform: uppercase;
  padding: 6px 10px;
  border-radius: 5px;
  border: 1px solid lightblue;
  z-index: 999;
  width: max-content;
  margin: 10px auto;
}

.signature .label {
  font-size: 0.75rem;
  letter-spacing: 1px;
}

.signature .author {
  font-size: 0.9rem;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 1.5px;
  text-shadow:
    0 0 5px #7c3aed,
    0 0 10px rgba(124, 58, 237, 0.6);
  animation: neonPulse 1.5s infinite alternate;
}

.basad {
    position: absolute;
    color: #ffffff;
    letter-spacing: 2px;
    right: 20px;
    top: 20px;
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8),
        0 0 15px #7c3aed;
}

/* Utility Class */
.hidden {
    display: none;
    /* position: absolute;
    opacity: 0;
    z-index: -9999; */
}

@keyframes neonPulse {
  from {
    opacity: 0.4;
    text-shadow: 0 0 4px #7c3aed, 0 0 8px rgba(124, 58, 237, 0.5);
  }

  to {
    opacity: 1.0;
    text-shadow: 0 0 6px #7c3aed, 0 0 12px rgba(124, 58, 237, 0.8);
  }
}
