/* Mobile */
@media (max-width: 600px) {
    body {
        font-size: 0.7em;
    }
    .editor-section {
        & .editor-controls {
            & .control-row {
                & .btn-control {
                    padding: 3px 6px;
                }
            }
        }
    }
}

/* Tablet */
@media (max-width: 895px) {
    .editor-section {
        width: 80vw;
        margin: 0 auto;
    }
    .canvas-container {
        margin: 0 auto;
    }
}

/* Desktop */
@media (min-width: 896px) {
    .editor-section {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        align-items: center;
        justify-items: center;
        margin: 0 auto;

        & h2 {
            grid-column: 1 / -1;
            margin-bottom: 20px;
        }
        & .canvas-container {
            grid-column: 1;
            grid-row: 2;
            justify-self: end;
            margin: 0 20px 0 0;
        }
        & .editor-controls {
            grid-column: 2;
            grid-row: 2;
            justify-self: center;
            margin: 0 0 0 20px;
            max-width: 400px;
            text-align: left;
        }
    }
}
